<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancing website</title>
    style
        include ../static/static.css
    script 
        include ../static/static.js
</head>
<body>

    <!-- navbar -->

     <nav class="container">
        
         <ul>
            
             <li class="links" id="Home"><a href="">Home</a></li>
             <li class="links" id="About"><a href="">Our Mission</a></li>
             <li class="links" id="Courses"><a href="">Courses</a></li>
             <li class="links" id="Contact"><a href="./contact.pug">Contact Us</a></li>
             <li class="links" id="login"><a href="">Login</a></li>
         </ul>
     </nav> 

     <!-- first lading page -->
       
     <div class="first">
         <div class="text">
             <img src="https://us.123rf.com/450wm/sifasmith1979/sifasmith19791802/sifasmith1979180200003/95292297-stock-vector-beauty-women-dance.jpg?ver=6" alt="" >
             <h1>Dance Academy</h1>
             <p>Become noob to pro with us</p>
             <button id = "btn"> See More </button>
         </div>
     </div>

  
    <!-- Seconfd landing page Our Mission -->


    <div id = "mission"class="ourmission">
        <div class="contentmission">
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, obcaecati consequatur provident blanditiis culpa officiis minus voluptas odio veritatis similique saepe quis illum magnam nisi ducimus repudiandae? Error tempore amet nihil aliquid quae nam, </p>
        </div>
    </div>
       <!-- courses -->
       <div class="courses">
        <div class="grid">

           <div class="box1"><img src="https://static.toiimg.com/photo/68063208.cms">Indian Classical</div>
           <div class="box1"><img src="https://tiffanydance.com/wp-content/uploads/2009/03/TDAPC2105-0148.jpg">British Group Dance</div>
           <div class="box1"><img src="https://i.ytimg.com/vi/4_BXeEXlyc8/maxresdefault.jpg" >American Pop dance</div>
           
           
      
            <!-- <div class="img">alt="">Image1</div>
            <div class="img"> alt="">Image2</div>
            <div class="img">alt="">Image3</div> -->

        </div>
    </div>

    <!-- spnsers -->
        <div class="sponsers">
            <div class="text">
                <h1>Sponsers</h1>
            <img  src="https://cached.imagescaler.hbpl.co.uk/resize/scaleHeight/815/cached.offlinehbpl.hbpl.co.uk/news/OMC/LogosSmall-20191016123459917.jpg" alt=""id = "sponsers">
        </div></div>
    <!-- Footer -->

    <footer>
        <div class="footer">
            <div class="foottext"><p>Demo project made on Node.js/Expressand mainly using Pug template Engine<br>All rights Reserved 2020-ARB</p>
        </div></div>
    </footer>
       

    
</body>
</html>