<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
       include ../static/static.css
</head>
<body>
    <nav class="container">
        
        <ul>
           
            <li class="links" id="Home"><a href="./">Home</a></li>
            <li class="links" id="Courses"><a href="">Courses</a></li>
            <li class="links" id="login"><a href="">Login</a></li>
        </ul>
    </nav> 
    
    <div id = "contact" class="formbox">
      
        <form action="/contact.pug" method = "post" id ="contact" class="form">
            <h2>Add your Details</h1><br>
                <label for="fname">First name</label><br>
                <input type="text" name = "fname"id="fname"><br>
                <label for="lname">Last name</label><br>
                <input type="text"  name = "lname"id="fname"><br>
                <label for="lname">Contact Number</label><br>
                <input type="text" name = "contactno" id="fname"><br>
                <label for="email">Email</label><br>
                <input type="email" name = "email" id="fname"><br>
                <input type="submit" id="submit"><br>

            </form>

            <footer>
                <div class="footer">
                    <div class="foottext"><p>Demo project made on Node.js/Expressand mainly using Pug template Engine<br>All rights Reserved 2020-ARB</p>
                </div></div>
            </footer>
            

    </div>
</body>
</html>